@import "compass";

body {
  background-color: #FAF8E6;
}

#main {
  overflow: visible;
  height: 500px;
}

header {
  @include background-image(linear-gradient(#242424,#424242));
  height: 30px;
  color: #9C9C9C;
}

footer {
  position:absolute;
  bottom: 0;
}

syntaxhighlighter {
  width: 300px;
}
